*{
	margin: 0;
	padding: 0;
	font-family: "Microsoft Yahei";
}

#container{
	height: 1200px;
}

/*浮出层的样式*/
#tip{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 300px;
	margin-left: -250px;
	margin-top: -150px;
	border: 3px solid #2e9cf4;
	background-color: #fff;
}

#tip h1{
	background-color: #4aa6ef;
	height: 70px;
	line-height: 70px;
	font-size: 30px;
	cursor: pointer;
}

#buttons{
	position: absolute;
	top: 250px;
	left: 300px;
}

#buttons button{
	width: 90px;
	height: 40px;
	background-color: #4aa6ef;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}

#mask{
	position: fixed;
	background-color: #ddd;
	height: 100%;
	width: 100%;
	opacity: 0.4;
	display: none;
}

#show-button{
	width: 130px;
	margin: auto;
	padding-top: 40px;
}

#show-button button{
	width: 130px;
	height: 40px;
	background-color: #4aa6ef;
	color: #fff;
	font-weight: bold;
	cursor: pointer; 
}