body{
	font-family: "Microsoft YaHei";
	background-color: #dedede;
	margin: 0;
	padding: 0;
	min-width: 750px;
}

/*顶部导航栏样式*/
div.nav_top{
	margin: 0;
	position: relative;
    background-color: #333;
    height: 60px;
}

div.nav_top img{
	padding-left: 40px;
	padding-top: 10px; 
	height: 40px;
}

div.nav_top ul{
	position: absolute;
	margin: 15px;
	right: 10px;
	top: 0;
}

div.nav_top nav ul li{
	float: left;
	padding-right: 30px;
}

div.nav_top nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 15px;
}

/*每一页的背景样式*/
.page{
	margin:20px;
	padding: 10px 30px 30px 30px; 
	background-color: #fff;
	box-shadow: 1px 1px 2px 1px #848484;
}

/*侧栏样式*/
aside{
    width: 350px;
	float: right;
}

aside.page h2{
	border-left:4px solid #ccc;
	padding: 10px;
	font-size: 18px;
	color: black;
}

form .table{
	font-size: 14px;
}

form .row .td:nth-child(2n+1){
	float: left;
	width: 100px;
	text-align: right;
	margin-right: 20px;
}

form .remind{
	margin-top: 10px;
	margin-left: 120px;
	color: #8a8a8a;
}

form input[type=email],
form input[type=password]{
	width: 150px;
}

.email_part,.pass_part{
	margin-bottom: 20px;
}

.personInfo .row{
    margin-bottom: 10px;
}
textarea{
	width: 60%;
	height: 80px;
}

/*侧栏提交按钮样式*/
input[type=submit]{
    padding-right: 5px; 
    background-color: #1553f0;
    color: white;
	border: 1px solid #1553f0;
	font-size: 15px;
	border-radius: 5px;
	width: 100%;
	height: 35px;
}

/*使文章一直保持在左侧*/
article.page{
    margin-right: 450px;
}

/*二级标题样式*/
h2{
    font-size: 20px;
    color:#808080;
}

/*文章作者和发表时间样式*/
.auther_time{
    font-size: 15px;
    color:#808080;
}

p{
	text-indent: 2em;
}

p a{
	color: blue;
}

/*一系列川普图片的样式*/
.pic{
	width: 120px;
	height: 120px;
	border:1px solid;
	box-sizing: border-box;
	width: 120px;
	padding: 3px 10px;
	margin: 20px;
	text-align: center;
	display: inline-block;  //使图片纵向排列
}

.pic figcaption{
	font-size: 13px;
}

.pic img{
	padding-top: 8px;
}

/*列表样式*/
div.page ol{
	margin: 20px 10px;
}

div.page ul li{
	list-style-type: none;
}

/*表格样式*/
table{
	border:1px solid #d8d8d8;
	text-align: left;
	width:100%;
	border-collapse:collapse;
}

thead{
	background-color: #333;
	color:white;
	font-size: 18px;
}

thead th,tbody td,tfoot td{
	padding: 5px;
}

tfoot{
	background-color: #d8d8d8;
	font-size: 18px;
	font-weight: bold;
}

/*页脚样式*/
footer{
	background-color: black;
	color:white;
	padding: 20px 0 30px 0;
	text-align: center;
	font-size: 13px;
}

