*{
	margin: 0;
	padding: 0;
}

body{
	padding: 20px;
}

div.wrap{
	padding: 20px 160px 20px 240px;
	background-color: #eee;
	border: 1px solid;
	border-color: #999;
}

/*设置图片样式*/
.left img
,.right img{
	width: 80px;
	height: 80px;
}

.right ul li{
	list-style-type: none;
}

/*先设置中间栏样式*/
.middle{
	background: #fff;
	border: 1px solid #999;
	padding: 20px;
	width: 100%;
	float: left;
	box-sizing: border-box;
}

.middle p{
	text-indent: 2em;
}

/*设置第一栏样式*/
.left{
	background: #fff;
	border: 1px solid #999;
	width: 200px;
	padding: 20px;
	float: left;
	box-sizing: border-box;
	float: left;
	margin-left: -100%;
	position: relative;
	left: -220px;
}

.left img{
	float: left;
	margin-right: 20px;
}

/*设置最右栏样式*/
.right{
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #999;
	width: 120px;
	padding: 20px;
	float: left;
	margin-left: -120px;
	position: relative;
	right: -140px;
}

.right ul li{
	height: 80px;
	margin-bottom: 20px;
}

.right ul li:last-child{
	margin-bottom: 0;
}

/*清除浮动*/
.clearfix{
	overflow: auto;
	zoom: 1;
}

