body{
	margin: 0;
	padding: 0;
}

.root,.root div{
	border: 1px solid #000;
	margin: 20px 5px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	flex-grow: 1;
}

.btn{
	margin-top: 10px;
	text-align: center;
}


